# You should update the below variables
# aws_region from the core-infra example
aws_region      = "us-west-2"

infra_repository_name    = "terraform-aws-ecs-blueprints"
infra_repository_owner   = "aws-ia"
infra_repository_branch  = "main"
infra_folder_path        = "examples/lb-service"

tf_backend_config_prefix = "org-ecsdemo-tf-state"
env = "dev"
team = "tooling"

# It is optional to change the below variables
# core_stack_name is also same as ecs_cluster_name from core-infra
core_stack_name      = "ecs-blueprint-infra"

# Application variables
github_token_secret_name = "ecs-github-token"
app_repository_owner     = "aws-ia"
app_repository_name      = "terraform-aws-ecs-blueprints"
app_repository_branch    = "refactor/cicd"
service_name             = "ecsdemo-frontend"
container_name           = "ecsdemo-frontend"
app_folder_path          = "./application-code/ecsdemo-frontend/."
backend_svc_endpoint     = "http://ecsdemo-nodejs.default.ecs-blueprint-infra.local:3000"
